body {
background-color: hsl(185, 41%, 84%);
}

.image{
margin: auto;
position:absolute;
left: 880px;
top: 135px;
}

.box{
margin: auto;
position:relative;
height: 335px;
width: 850px;
top: 250px;
border-radius: 15px;
padding: 70px;
background-color: hsl(0, 0%, 100%);
}

.resultbox{
position: absolute;
right: 20px;
border-radius: 15px;
background-color: hsl(183, 100%, 15%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }