body {
background-color: hsl(185, 41%, 84%);
}

.image{
margin: auto;
position:absolute;
left: 900px;
top: 135px;
}

.box{
margin: auto;
position:relative;
height: 335px;
width: 850px;
top: 250px;
border-radius: 15px;
padding: 70px;
background-color: hsl(0, 0%, 100%);
}

.resultbox{
position: absolute;
right: 25px;
width: 180px;
top: 15px;
border-radius: 15px;
padding: 125px;
background-color: hsl(183, 100%, 15%);
}

.labels{
margin: auto;
position:relative;
bottom: 50px;
right: 30px;
font-family: 'Space Mono';
font-weight: 700;
color: hsl(186, 14%, 43%);
}

.amount{
background-color: hsl(189, 41%, 97%);
border: none;
border-radius: 3px;
}
.number{
background-color: hsl(189, 41%, 97%);
border: none;
border-radius: 3px;
}

.five{
color: hsl(0, 0%, 100%);
padding: 12px;
width: 60px;
background-color: hsl(183, 100%, 15%);
text-align: center;
border: none;
border-radius: 3px;
}
.ten{
color: hsl(0, 0%, 100%);
padding: 12px;
width: 60px;
background-color: hsl(183, 100%, 15%);
text-align: center;
border: none;
border-radius: 3px;
}
.fifthteen{
color: hsl(0, 0%, 100%);
padding: 12px;
width: 60px;
background-color: hsl(183, 100%, 15%);
text-align: center;
border: none;
border-radius: 3px;
}
.twentyfive{
color: hsl(0, 0%, 100%);
padding: 12px;
width: 60px;
background-color: hsl(183, 100%, 15%);
text-align: center;
border: none;
border-radius: 3px;
}
.fifty{
color: hsl(0, 0%, 100%);
padding: 12px;
width: 60px;
background-color: hsl(183, 100%, 15%);
text-align: center;
border: none;
border-radius: 3px;
}
.Custom{
color: hsl(186, 14%, 43%);
padding: 12px;
width: 80px;
background-color: hsl(189, 41%, 97%);
text-align: center;
border: none;
border-radius: 3px;
}

.reset{
Color: hsl(189, 41%, 97%);
padding: 12px;
width: 80px;
background-color: hsl(186, 14%, 43%);
text-align: center;
border: none;
border-radius: 3px;
}

.tip{
margin-top: 50px;
}

@media only screen and (min-width: 375px){
 .pagewrap{
  margin: auto;
  position:relative;
  top: 50px;
  width: 375px;
  height: 650px;
  overflow-x: hidden;
 }
}

@media only screen and (min-width: 1440px){
 .pagewrap{
  margin: auto;
  position:relative;
  top: 150px;
  width: 1440px;
 }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }