body{
background-color: hsl(221, 100%, 96%);
}

.result{
margin: auto;
position:relative;
background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
background-attachment: fixed;
font-family: 'Hanken Grotesk';
color: hsl(0, 0%, 100%);
width: 20rem;
height: 30rem;
border-radius: 2rem;
top:14rem;
right: 9rem;
z-index: 1;
}

.summary{
margin: auto;
position:relative;
background-color: hsl(0, 0%, 100%);
font-family: 'Hanken Grotesk';
width: 40rem;
height: 30rem;
border-radius: 2rem;
bottom:17rem;
left: 1rem;
}

.resultFocus{
margin: auto;
position:relative;
background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
border-radius: 20rem;
height: 11rem;
width: 11rem;
top: 5rem;
}

.seventySix{
margin: auto;
position:relative;
font-size: 3.5rem;
font-weight: 800;
top: 2.5rem;
left: 3.5rem;
}

.ofOne{
margin: auto;
position:relative;
color: hsl(241, 100%, 89%);
font-weight: 500;
top: 2.5rem;
left: 4rem;
}

.yourResult{
margin: auto;
position:relative;
color: hsl(221, 100%, 96%);
font-weight: 700;
left: 7rem;
top: 3rem;
}

.yourScore{
margin: auto;
position:relative;
text-align: center;
color: hsl(221, 100%, 96%);
top: 8rem;
}

.greatHeader{
margin: auto;
position:relative;
font-size: 1.5rem;
font-weight: 700;
top: 7rem;
left: 8rem;
}

.decstyle::after{
	content: "\a";
	white-space: pre;
}

@media only screen and (min-width: 375px){
 .pagewrap{
  margin: auto;
  position:relative;
  top: 50px;
  width: 375px;
  height: 650px;
  overflow-x: hidden;
 }
}

@media only screen and (min-width: 1440px){
 .pagewrap{
  margin: auto;
  position:relative;
  top: 150px;
  width: 1440px;
 }
}

.attribution { font-size: 11px; text-align: center; color: hsl(178, 100%, 50%); }
.attribution a { color: hsl(215, 51%, 70%); }
.attribution{
  position:relative;
  top: 20px;
}