body{
background-color: hsl(221, 100%, 96%);
}

.result{
margin: auto;
position:relative;
background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
background-attachment: fixed;
width: 20rem;
height: 30rem;
border-radius: 2rem;
top:12rem;
right: 10rem;
z-index: 1;
}

.summary{
margin: auto;
position:relative;
background-color: hsl(0, 0%, 100%);
width: 40rem;
height: 30rem;
border-radius: 2rem;
bottom:19rem;
}

@media only screen and (min-width: 375px){
 .pagewrap{
  margin: auto;
  position:relative;
  top: 50px;
  width: 375px;
  height: 650px;
  overflow-x: hidden;
 }
}

@media only screen and (min-width: 1440px){
 .pagewrap{
  margin: auto;
  position:relative;
  top: 150px;
  width: 1440px;
 }
}

.attribution { font-size: 11px; text-align: center; color: hsl(178, 100%, 50%); }
.attribution a { color: hsl(215, 51%, 70%); }
.attribution{
  position:relative;
  top: 20px;
}