body{
background-color: hsl(221, 100%, 96%);
overflow: hidden;
}

.result{
margin: auto;
position:relative;
background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
background-attachment: fixed;
font-family: 'Hanken Grotesk';
color: hsl(0, 0%, 100%);
width: 20rem;
height: 30rem;
border-radius: 2rem;
top:13rem;
right: 9rem;
z-index: 1;
}

.summary{
margin: auto;
position:relative;
background-color: hsl(0, 0%, 100%);
font-family: 'Hanken Grotesk';
width: 40rem;
height: 30rem;
border-radius: 2rem;
bottom:17rem;
left: 1rem;
}

.resultFocus{
margin: auto;
position:relative;
background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
border-radius: 20rem;
height: 11rem;
width: 11rem;
top: 5rem;
}

.seventySix{
margin: auto;
position:relative;
font-size: 3.5rem;
font-weight: 800;
top: 2.5rem;
left: 3.5rem;
}

.ofOne{
margin: auto;
position:relative;
color: hsl(241, 100%, 89%);
font-weight: 500;
top: 2.5rem;
left: 4rem;
}

.yourResult{
margin: auto;
position:relative;
color: hsl(221, 100%, 96%);
font-weight: 700;
font-size: 1.2rem;
left: 6.8rem;
top: 3rem;
}

.yourScore{
margin: auto;
position:relative;
text-align: center;
color: hsl(221, 100%, 96%);
top: 8rem;
}

.greatHeader{
margin: auto;
position:relative;
font-size: 1.5rem;
font-weight: 700;
top: 7rem;
left: 8rem;
}

.yourSummary{
margin: auto;
position:absolute;
font-weight: 700;
font-size: 1.2rem;
color: hsl(224, 30%, 27%);
right: 12rem;
top: 2rem;
}

.reactionBox{
margin: auto;
position:relative;
background-color: hsl(0, 100%, 97%);
border-radius: 0.5rem;
width: 15rem;
height: 3.5rem;
top: 5rem;
left: 10rem;
}

.memoryBox{
margin: auto;
position:relative;
background-color: hsl(39, 100%, 97%);
border-radius: 0.5rem;
width: 15rem;
height: 3.5rem;
top: 6rem;
left: 10rem;
}

.verbalBox{
margin: auto;
position:relative;
background-color: hsl(166, 100%, 97%);
border-radius: 0.5rem;
width: 15rem;
height: 3.5rem;
top: 7rem;
left: 10rem;
}

.visualBox{
margin: auto;
position:relative;
background-color: hsl(234, 85%, 97%);
border-radius: 0.5rem;
width: 15rem;
height: 3.5rem;
top: 8rem;
left: 10rem;
}

.reaction{
margin: auto;
position:absolute;
color: hsl(0, 100%, 67%);
top: 1.2rem;
left: 2.8rem;
}

.memory{
margin: auto;
position:absolute;
opacity: 100%;
color: hsl(39, 100%, 56%);
top: 1.2rem;
left: 2.8rem;
}

.verbal{
margin: auto;
position:absolute;
opacity: 100%;
color: hsl(166, 100%, 37%);
top: 1.2rem;
left: 2.8rem;
}

.visual{
margin: auto;
position:absolute;
opacity: 100%;
color: hsl(234, 85%, 45%);
top: 1.2rem;
left: 2.8rem;
}

.continue{
margin: auto;
position:absolute;
background-color: hsl(224, 30%, 27%);
color: hsl(0, 0%, 100%);
border-radius: 2rem;
border: none;
font-family: 'Hanken Grotesk';
font-weight: 500;
width: 15rem;
height: 2.8rem;
right: 2.5rem;
top: 25rem;
cursor:pointer;
transition: .3s background ease;
}
.continue:hover{
background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));

}

.iconReaction{
margin: auto;
position:absolute;
top: 1.2rem;
left: 0.8rem;
}

.iconMemory{
margin: auto;
position:absolute;
top: 1.2rem;
left: 0.8rem;
}

.iconVerbal{
margin: auto;
position:absolute;
top: 1.2rem;
left: 0.8rem;
}

.iconVisual{
margin: auto;
position:absolute;
top: 1.2rem;
left: 0.8rem;
}

.eighty{
margin: auto;
position:relative;
list-style-type: none;
bottom:8.8rem;
left: 30rem;
}
.ninetyTwo{
margin: auto;
position:relative;
list-style-type: none;
bottom:5.6rem;
left: 30rem;
}
.sixtyOne{
margin: auto;
position:relative;
list-style-type: none;
bottom:2.45rem;
left: 30rem;
}
.seventyTwo{
margin: auto;
position:relative;
list-style-type: none;
top:0.75rem;
left: 30rem;
}

.slashOne{
color: hsl(224, 30%, 67%);
}

.percentages{
color: hsl(224, 30%, 27%);
font-weight: 700;
}

.decstyle::after{
	content: "\a";
	white-space: pre;
}


@media only screen and (max-width: 1440px){
 .pagewrap{
  margin: auto;
  position:relative;
  top: 50px;
  width: 375px;
  height: 1200px	
 }

  .result{
   margin: auto;
   position:relative;
   height: 28rem;
   width: 28.2rem;
   left: -2.4rem;
   top: -5.5rem;
  }

  .summary{
   margin: auto;
   position:relative;
   width: 28.2rem;
   height: 35rem;
   left: -2.3rem;
   top: -8rem;
  }

  .resultFocus{
   margin: auto;
   position:relative;
   width: 10rem;
   height: 10rem;
  }

  .seventySix{
   margin: auto;
   position:relative;
   top: 2.5rem;
   left: 3.1rem;
  }

  .ofOne{
   margin: auto;
   position:relative;
   top: 2.5rem;
   left: 3.5rem;
  }

  .yourResult{
   margin: auto;
   position:relative;
   color: hsl(221, 100%, 96%);
   font-weight: 700;
   font-size: 1.2rem;
   left: 10.5rem;
   top: 3rem;
  }

}

.attribution { font-size: 11px; text-align: center; color: hsl(178, 100%, 25%); }
.attribution a { color: hsl(215, 51%, 70%); }
.attribution{
  position:relative;
  bottom: 16rem;
}