body {
background-color: hsl(0, 0%, 8%);
}

#box{
margin: auto;
position:relative;
width: 15rem;
height: 30rem;
border-radius: 0.8rem;
padding: 5rem;
background-color: hsl(0, 0%, 12%);
}

.image{
margin: auto;
position:absolute;
border-radius: 10rem;
width: 6rem;
bottom: 31rem;
left: 9rem;
}

.name{
margin: auto;
position:absolute;
font-family: 'Inter';
color: hsl(0, 0%, 100%);
top: 10.5rem;
left: 6rem;
font-weight: 700;
font-size: 25px;
}
.location{
margin: auto;
position:absolute;
font-family: 'Inter';
color: hsl(75, 94%, 57%);
top: 13rem;
left: 6.5rem;
font-weight: 700;
font-size: 14px;
}
.tagLine{
margin: auto;
position:absolute;
font-family: 'Inter';
color: hsl(0, 0%, 100%);
top: 15rem;
left: 4rem;
font-weight: 400;
font-size: 14px;
}

.socialMedia{
margin: auto;
position:absolute;
font-family: 'Inter';
color: hsl(0, 0%, 100%);
font-weight: 700;
text-align: center;
top: 17rem;
width: 20rem;
left: 2.5rem;
cursor:pointer;
transition: .1s background ease;
}

.GitHub{
background-color: hsl(0, 0%, 20%);
padding: 0.9rem;
border-radius: 0.5rem;
}
.GitHub:hover{
color: hsl(0, 0%, 12%);
background: hsl(75, 94%, 57%);
}

.frontendMentor{
background-color: hsl(0, 0%, 20%);
padding: 0.9rem;
border-radius: 0.5rem;
}
.frontendMentor:hover{
color: hsl(0, 0%, 12%);
background: hsl(75, 94%, 57%);
}

.LinkedIn{
background-color: hsl(0, 0%, 20%);
padding: 0.9rem;
border-radius: 0.5rem;
}
.LinkedIn:hover{
color: hsl(0, 0%, 12%);
background: hsl(75, 94%, 57%);
}

.Twitter{
background-color: hsl(0, 0%, 20%);
padding: 0.9rem;
border-radius: 0.5rem;
}
.Twitter:hover{
color: hsl(0, 0%, 12%);
background: hsl(75, 94%, 57%);
}

.Instagram{
background-color: hsl(0, 0%, 20%);
padding: 0.9rem;
border-radius: 0.5rem;
}
.Instagram:hover{
color: hsl(0, 0%, 12%);
background: hsl(75, 94%, 57%);
}

@media only screen and (min-width: 375px){
 .pagewrap{
  margin: auto;
  position:relative;
  top: 50px;
  width: 375px;
  height: 650px;
  overflow-x: hidden;
 }
}

@media only screen and (min-width: 1440px){
 .pagewrap{
  margin: auto;
  position:relative;
  top: 150px;
  width: 1440px;
 }
}