.box{
margin: auto;
position: relative;
background-color: hsl(0, 0%, 100%);
padding: 5rem;
width: 18.2rem;
height: 36rem;
border-radius: 1rem;
bottom: 21rem;
}

.hero{
margin: auto;
position: absolute;
border-radius: 1rem 1rem 0rem 0rem;
bottom: 32.2rem;
right: 0.1rem;

}
.header{
margin: auto;
position: absolute;
}

.description{
margin: auto;
position: absolute;
}

.annual{
margin: auto;
position: absolute;
}

.cost{
margin: auto;
position: absolute;
}

.change{
margin: auto;
position: absolute;
}

.payment{
margin: auto;
position: absolute;
}

.cancel{
margin: auto;
position: absolute;
}

.page{
background-color: hsl(225, 100%, 94%);
}


@media only screen and (min-width: 375px){
 .pagewrap{
  margin: auto;
  position:relative;
  top: 50px;
  width: 375px;
  height: 650px;
  overflow: hidden;
 }
}

@media only screen and (min-width: 1440px){
 .page{
  margin: auto;
  position:relative;
  height: 60rem;
  width: 90rem;
 }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }