.box{
margin: auto;
position: relative;
background-color: hsl(0, 0%, 100%);
padding: 5rem;
width: 18.1rem;
height: 36rem;
border-radius: 1rem;
bottom: 21rem;
}

.hero{
margin: auto;
position: absolute;
border-radius: 1rem 1rem 0rem 0rem;
bottom: 32.3rem;
right: 0.01rem;

}
.header{
margin: auto;
position: absolute;
font-family: 'Red Hat Display';
font-weight: 900;
color: hsl(223, 47%, 23%);
font-size: 1.5rem;
bottom: 28rem;
right: 8rem;
}

.description{
margin: auto;
position: absolute;
text-align: center;
font-family: 'Red Hat Display';
font-weight: 500;
color: hsl(224, 23%, 55%);
right: 5rem;
bottom: 23rem;
}

.annual{
margin: auto;
position: absolute;
font-family: 'Red Hat Display';
font-weight: 900;
color: hsl(223, 47%, 23%);
left: 5.6rem;
bottom: 3.5rem;
}

.cost{
margin: auto;
position: absolute;
font-family: 'Red Hat Display';
color: hsl(224, 23%, 55%);
font-weight: 900;
left: 5.6rem;
bottom: 1.8rem;
}

.change{
margin: auto;
position: absolute;
font-family: 'Red Hat Display';
color: hsl(245, 75%, 52%);
font-weight: 900;
text-decoration: underline;
left: 16rem;
bottom: 2.5rem;
cursor:pointer;
transition: .1s background ease;
}

.change:hover{
color: hsl(245, 75%, 70%);
text-decoration: none;
}

.annualPlan{
margin: auto;
position: absolute;
background-color: hsl(225, 100%, 98%);
padding: 1.6rem;
border-radius: 1rem;
width: 18rem;
bottom: 15.4rem;
right: 3.5rem;
}

.payment{
margin: auto;
position: absolute;
background-color: hsl(245, 75%, 52%);
color: hsl(0, 0%, 100%);
font-family: 'Red Hat Display';
font-weight: 900;
padding: 1rem;
border-radius: 1rem;
border: none;
right: 3.5rem;
width: 21rem;
bottom: 10rem;
cursor:pointer;
transition: .1s background ease;
}

.payment:hover{
background: hsl(245, 75%, 70%);
}

.cancel{
margin: auto;
position: absolute;
right: 12rem;
font-family: 'Red Hat Display';
font-weight: 900;
color: hsl(224, 23%, 55%);
right: 11rem;
bottom: 6rem;
cursor:pointer;
transition: .1s background ease;
}

.cancel:hover{
color: hsl(224, 23%, 10%);
}

.decstyle::after{
	content: "\a";
	white-space: pre;
}

.page{
background-color: hsl(225, 100%, 94%);
}


@media only screen and (min-width: 375px){
 .pagewrap{
  margin: auto;
  position:relative;
  top: 50px;
  width: 375px;
  height: 650px;
  overflow: hidden;
 }
}

@media only screen and (min-width: 1440px){
 .page{
  margin: auto;
  position:relative;
  height: 59rem;
  width: 90rem;
 }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }