body {
background-color: hsl(257, 40%, 49%);
}

.logo{
margin: auto;
position:absolute;
top: 3rem;
left: 4.5rem;
}

.mockUp{
margin: auto;
position:absolute;
top: 12rem;
left: 4.5rem;
}

.header{
margin: auto;
position:absolute;
top: 16rem;
left: 52rem;
font-family: 'Poppins';
font-weight: 600;
color: hsl(0, 0%, 100%);
}

.body{
margin: auto;
position:absolute;
top: 23.5rem;
left: 52rem;
font-family: 'Open Sans';
font-weight: 400;
color: hsl(0, 0%, 100%);
}

.decstyle::after{
	content: "\a";
	white-space: pre;
}

.register{
margin: auto;
position:absolute;
padding: 0.8rem;
width: 10rem;
left: 52rem;
top: 28.8rem;
border-radius: 22px;
border: none;
font-family: 'Poppins';
color: hsl(257, 40%, 49%);
filter: drop-shadow(2px 2px 6px hsl(216, 100%, 6%));
cursor:pointer;
transition: .1s background ease;
}

.register:hover{
color: hsl(0, 0%, 100%);
background: hsl(300, 69%, 71%);
}

@media only screen and (min-width: 375px){
 .pageweap{
  margin: auto;
  position:relative;
  top: 50px;
  width: 375px;
  height: 650px;
  overflow: hidden;
 }
}

@media only screen and (min-width: 1440px){
 .page{
  margin: auto;
  position:relative;
  height: 100%;
  overflow: hidden;
 }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(0, 0%, 100%); }