body {
background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
height: 100%;
background-attachment: fixed;
}

.frame{
margin: auto;
position:relative;
height: 560px;
width: 1100px;
border-radius: 15px;
padding: 25px;
background-color: hsl(0, 0%, 100%);
filter: drop-shadow(0 6mm 4mm hsl(216, 100%, 6%));
}
#faq{
font-family: 'Kumbh Sans';
font-weight: 700;
color: hsl(238, 29%, 16%);
}

.question1{
font-family: 'Kumbh Sans';
font-size: 12px;
font-weight: 400;
color: hsl(237, 12%, 33%);
width: 400px;
}
.question2{
font-family: 'Kumbh Sans';
font-size: 12px;
font-weight: 400;
color: hsl(237, 12%, 33%);
width: 400px;
}
.question3{
font-family: 'Kumbh Sans';
font-size: 12px;
font-weight: 400;
color: hsl(237, 12%, 33%);
width: 400px;
}
.question4{
font-family: 'Kumbh Sans';
font-size: 12px;
font-weight: 400;
color: hsl(237, 12%, 33%);
width: 400px;
}
.question5{
font-family: 'Kumbh Sans';
font-size: 12px;
font-weight: 400;
color: hsl(237, 12%, 33%);
width: 400px;
}

.answer1{
font-family: 'Kumbh Sans';
font-size: 12px;
font-weight: 400;
color: hsl(240, 6%, 50%);
width: 400px;
}
.answer2{
font-family: 'Kumbh Sans';
font-size: 12px;
font-weight: 400;
color: hsl(240, 6%, 50%);
width: 400px;
}
.answer3{
font-family: 'Kumbh Sans';
font-size: 12px;
font-weight: 400;
color: hsl(240, 6%, 50%);
width: 400px;
}
.answer4{
font-family: 'Kumbh Sans';
font-size: 12px;
font-weight: 400;
color: hsl(240, 6%, 50%);
width: 400px;
}
.answer5{
font-family: 'Kumbh Sans';
font-size: 12px;
font-weight: 400;
color: hsl(240, 6%, 50%);
width: 400px;
}

#line{
color: hsl(240, 5%, 91%);
width: 345px;
float: left;
}

.desktop{
margin: auto;
position:absolute;
right: 760px;
top: 100px;
}
.box{
margin: auto;
position:absolute;
right: 1052px;
top: 235px;
}
.arrow{

}

.faqs{
margin: auto;
position:absolute;
left: 460px;
top: 20px;
height: 20px; 
width: 575px;
}

.decstyle::after{
	content: "\a";
	white-space: pre;
}

@media only screen and (min-width: 375px){
 .pagewrap{
  margin: auto;
  position:relative;
  top: 50px;
  width: 375px;
 }
}
@media only screen and (min-width: 1440px){
 .pagewrap{
  margin: auto;
  position:relative;
  top: 140px;
  width: 1440px;
  left: 50px;
 }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }