body {
  background-color: hsl(30, 38%, 92%);
}

.box{
margin: auto;
position:relative;
height: 335px;
width: 850px;
top: 150px;
border-radius: 15px;
padding: 70px;
}

.image{
 margin: auto;
 position:absolute;
 left: 95px;
 border-radius:10px 0px 0px 10px;
}
.rightside{
 margin: auto;
 position:absolute;
 right: 200px;
 border-radius:0px 10px 10px 0px;
 background-color: hsl(0, 0%, 100%);
 padding-top: 50px;
 padding-right: 80px;
 padding-bottom: 400px;
 padding-left: 220px;
}

.type{
 margin: auto;
 position:absolute;
 font-family: 'Montserrat';
 font-weight: 700;
 font-size: 14px;
 letter-spacing: 3px;
 color: hsl(228, 12%, 48%);
 top: 30px;
 right: 175px;
}
.product{
 margin: auto;
 position:absolute;
 font-family: 'Fraunces';
 font-weight: 700;
 color: hsl(212, 21%, 14%);
 top: 60px;
 right: 120px;
}
.description{
 margin: auto;
 position:absolute;
 font-family: 'Montserrat';
 font-weight: 500;
 font-size: 14px;
 color: hsl(228, 12%, 48%);
 top: 150px;
 right: 45px;
}
.discount{
 margin: auto;
 position:absolute;
 display: inline-block;
 font-family: 'Fraunces';
 font-weight: 900;
 font-size: 30px;
 color:hsl(158, 36%, 37%);
 top: 205px;
 right: 345px;

}
.standard{
 margin: auto;
 position:absolute;
 display: inline-block;
 font-family: 'Montserrat';
 font-weight: 500;
 color: hsl(228, 12%, 48%);
 top: 215px;
 right: 265px;
}
.icon{
 margin: auto;
 position:absolute;
 left: 55px;
 bottom: 12px;
}
.add{
 margin: auto;
 position:absolute;
 font-family: 'Montserrat';
 font-weight: 700;
 font-size: 12px;
 bottom: 12px;
 left: 80px;
}

.wordstyle::after{
	content: "\a";
	white-space: pre;
}

.descstyle::after{
	content: "\a";
	white-space: pre;
}
.price{
 margin: auto;
 position:absolute;
 width: 90%;
}
.button{
  margin: auto;
  position:absolute;
  border:0;
  background:hsl(158, 36%, 37%);
  color:white;
  cursor:pointer;
  transition: .3s background ease;
  border-radius:10px;
  left: 30px;
  top: 320px;
  padding: 20px;
  width: 200px;

}
 .button:hover{
    background:hsl(158, 36%, 17%);
  }


@media only screen and (min-width: 375px){
 .pagewrap{
  margin: auto;
  position:relative;

  width: 375px;
  height: 650px;
  overflow-x: hidden;
 }
}

@media only screen and (min-width: 1440px){
 .pagewrap{
  margin: auto;
  position:relative;
  bottom: 40px;
  width: 1450px;
  height: 700px;
  overflow-x: hidden;
 }
 .imageMobile{
  opacity: 0;
 }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
.attribution{
  position:relative;
  top: 210px;
}

