body {
  background-color: hsl(30, 38%, 92%);
}

.box{
margin: auto;
position:relative;
height: 335px;
width: 850px;
top: 150px;
border-radius: 15px;
padding: 70px;
}

.image{
 margin: auto;
 position:absolute;
 left: 95px;
 border-radius:10px 0px 0px 10px;
}
.rightside{
 margin: auto;
 position:absolute;
 right: 200px;
 border-radius:0px 10px 10px 0px;
 background-color: hsl(0, 0%, 100%);
 padding-top: 50px;
 padding-right: 80px;
 padding-bottom: 400px;
 padding-left: 220px;
}

.type{
 margin: auto;
 position:absolute;
 font-family: 'Montserrat';
 font-weight: 500;
 font-size: 14px;
 color: hsl(228, 12%, 48%);
}
.product{
 margin: auto;
 position:absolute;
 font-family: 'Fraunces';
 font-weight: 700;
 color: hsl(212, 21%, 14%);
}
.description{
 margin: auto;
 position:absolute;
 font-family: 'Montserrat';
 font-weight: 500;
 font-size: 14px;
 color: hsl(228, 12%, 48%);
}
.discount{
 margin: auto;
 position:absolute;
 display: inline-block;
 font-family: 'Fraunces';
 font-weight: 900;
 font-size: 30px;
 color:hsl(158, 36%, 37%);
 
 padding-right: 20px;

}
.standard{
 margin: auto;
 position:absolute;
 display: inline-block;
 font-family: 'Montserrat';
 font-weight: 500;
 color: hsl(228, 12%, 48%);
}
.icon{
 margin: auto;
 position:absolute;
}
.add{
 margin: auto;
 position:absolute;
 font-family: 'Montserrat';
 font-weight: 700;
}

.wordstyle::after{
	content: "\a";
	white-space: pre;
}

.descstyle::after{
	content: "\a";
	white-space: pre;
}
.price{
 margin: auto;
 position:absolute;
 width: 90%;
}
.button{
  margin: auto;
  position:absolute;
  border:0;
  background:hsl(158, 36%, 37%);
  color:white;
  cursor:pointer;
  transition: .3s background ease;
  border-radius:10px;
  

}
 .button:hover{
    background:hsl(158, 36%, 17%);
  }


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
.attribution{
  position:relative;
  top: 210px;
}

