body{
background-color: hsl(218, 28%, 30%);
}

.menu{
list-style-type: none;
display: inline;
margin: 1.7rem;
padding: 0;
color: hsl(0, 0%, 100%);
font-family: 'Raleway';
font-weight: 400;
font-size: 1rem;
}

.menus{
margin: auto;
position:absolute;
top: 4rem;
right: 4rem;
}

.headerLogo{
margin: auto;
position:absolute;
top: 3.5rem;
left: 5rem;
}

.decstyle::after{
	content: "\a";
	white-space: pre;
}

.introLogo{
margin: auto;
position:absolute;
left: 22rem;
top: 15rem;
}

.introHeader{
margin: auto;
position:absolute;
text-align: center;
font-family: 'Raleway';
color: hsl(0, 0%, 100%);
font-weight: 700;
font-size: 3rem;
left: 22rem;
top: 52rem;
}

.introDesc{
margin: auto;
position:absolute;
text-align: center;
font-family: 'Open Sans';
color: hsl(0, 0%, 100%);
font-weight: 400;
font-size: 1.5rem;
left: 26rem;
top: 62rem;
}

.getStarted{
margin: auto;
position:absolute;
top: 72rem;
left: 38rem;
font-family: 'Raleway';
font-weight: 700;
font-size: 1.3rem;
border: none;
border-radius: 10rem;
padding: 1.5rem;
width: 20rem;
background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
color: hsl(0, 0%, 100%);
}

.curve{
margin: auto;
position:relative;
top: 57.9rem;
}

.access{
margin: auto;
position:absolute;
top: 5rem;
left: 25rem;
}

.security{
margin: auto;
position:absolute;
top: 5rem;
left: 63rem;
}

.collab{
margin: auto;
position:absolute;
left: 25rem;
top: 20rem;
}

.file{
margin: auto;
position:absolute;
left: 62rem;
top: 20rem;
}

.accessHeader{
margin: auto;
position:absolute;
color: hsl(0, 0%, 100%);
font-family: 'Raleway';
font-weight: 700;
font-size: 1.2rem;
left: 19rem;
top: 11.5rem;
}

.accessDesc{
margin: auto;
position:absolute;
color: hsl(0, 0%, 100%);
text-align: center;
font-family: 'Open Sans';
font-weight: 400;
font-size: 0.8rem;
left: 17rem;
top: 13.5rem;
}

.secureHeader{
margin: auto;
position:absolute;
color: hsl(0, 0%, 100%);
font-family: 'Raleway';
font-weight: 700;
font-size: 1.2rem;
top: 11.5rem;
right: 18.5rem;
}

.secureDesc{
margin: auto;
position:absolute;
color: hsl(0, 0%, 100%);
text-align: center;
font-family: 'Open Sans';
font-weight: 400;
font-size: 0.8rem;
top: 13.5rem;
right: 14rem;
}

.realHeader{
margin: auto;
position:absolute;
color: hsl(0, 0%, 100%);
font-family: 'Raleway';
font-weight: 700;
font-size: 1.2rem;
left: 20rem;
top: 26.5rem;
}

.realDesc{
margin: auto;
position:absolute;
color: hsl(0, 0%, 100%);
text-align: center;
font-family: 'Open Sans';
font-weight: 400;
font-size: 0.8rem;
left: 17rem;
top: 28.5rem;
}

.fileHeader{
margin: auto;
position:absolute;
color: hsl(0, 0%, 100%);
font-family: 'Raleway';
font-weight: 700;
font-size: 1.2rem;
right: 19rem;
top: 26.5rem;
}

.fileDesc{
margin: auto;
position:absolute;
color: hsl(0, 0%, 100%);
text-align: center;
font-family: 'Open Sans';
font-weight: 400;
font-size: 0.8rem;
right: 15.5rem;
top: 28.5rem;
}

.productive{
margin: auto;
position:absolute;
top: 40rem;
left: 6rem;
}

.stayHeader{
margin: auto;
position:absolute;
font-family: 'Raleway';
color: hsl(0, 0%, 100%);
font-weight: 700;
font-size: 3rem;
top: 45rem;
right: 17rem;
}

.stayDesc{
margin: auto;
position:absolute;
font-family: 'Open Sans';
color: hsl(0, 0%, 100%);
font-weight: 400;
font-size: 1.1rem;
top: 55rem;
right: 5rem;
}

.fyloWorks{
margin: auto;
position:absolute;
font-family: 'Open Sans';
color: hsl(176, 68%, 64%);
font-weight: 400;
font-size: 1.1rem;
top: 64rem;
left: 47rem;

}

.arrow{
margin: auto;
position:absolute;
top: 64.3rem;
left: 57.5rem;
}

.fyloBorder{
margin: auto;
position:absolute;
top: 65.8rem;
left: 47rem;
background-color: hsl(176, 68%, 64%);
width: 11.4rem;
height: 0.1rem;
}

.quotes{
margin: auto;
position:absolute;
top: 75.7rem;
left: 7.5rem;
}

.satish{
margin: auto;
position:absolute;
top: 78rem;
left: 8rem;
height: 12rem;
width: 23rem;
background-color: hsl(219, 30%, 18%);
color: hsl(0, 0%, 100%);
font-family: 'Open Sans';
font-weight: 400;
font-size: 0.8rem;
border-radius: 0.2rem;
}

.satishDesc{
margin: auto;
position:absolute;
top: 2rem;
left: 2.5rem;
font-size: 0.9rem;
}

.profile1{
margin: auto;
position:absolute;
border-radius: 20rem;
width: 2rem;
bottom: 1.6rem;
left: 2.5rem;
}

.satishName{
margin: auto;
position:absolute;
top: 8.3rem;
left: 5.3rem;
font-size: 0.8rem;
font-weight: 700;
letter-spacing: 0.1rem;
}

.satishFounder{
margin: auto;
position:absolute;
left: 5.3rem;
top: 9.5rem;
font-size: 0.6rem;
letter-spacing: 0.05rem;
}

.bruce{
margin: auto;
position:absolute;
top: 78rem;
left: 33.5rem;
height: 12rem;
width: 23rem;
background-color: hsl(219, 30%, 18%);
color: hsl(0, 0%, 100%);
font-family: 'Open Sans';
font-weight: 400;
font-size: 0.8rem;
border-radius: 0.2rem;
}

.bruceDesc{
margin: auto;
position:absolute;
top: 2rem;
left: 2.5rem;
font-size: 0.9rem;
}

.profile2{
margin: auto;
position:absolute;
border-radius: 20rem;
width: 2rem;
bottom: 1.6rem;
left: 2.5rem;
}

.bruceName{
margin: auto;
position:absolute;
top: 8.3rem;
left: 5.3rem;
font-size: 0.8rem;
font-weight: 700;
letter-spacing: 0.1rem;
}

.bruceFounder{
margin: auto;
position:absolute;
left: 5.3rem;
top: 9.5rem;
font-size: 0.6rem;
letter-spacing: 0.05rem;
}

.iva{
margin: auto;
position:absolute;
top: 78rem;
right: 8rem;
height: 12rem;
width: 23rem;
background-color: hsl(219, 30%, 18%);
color: hsl(0, 0%, 100%);
font-family: 'Open Sans';
font-weight: 400;
font-size: 0.8rem;
border-radius: 0.2rem;
}

.ivaDesc{
margin: auto;
position:absolute;
top: 2rem;
left: 2.5rem;
font-size: 0.9rem;
}

.profile3{
margin: auto;
position:absolute;
border-radius: 20rem;
width: 2rem;
bottom: 1.6rem;
left: 2.5rem;
}

.ivaName{
margin: auto;
position:absolute;
top: 8.3rem;
left: 5.3rem;
font-size: 0.8rem;
font-weight: 700;
letter-spacing: 0.1rem;
}

.ivaFounder{
margin: auto;
position:absolute;
left: 5.3rem;
top: 9.5rem;
font-size: 0.6rem;
letter-spacing: 0.05rem;
}

.earlyAccess{
margin: auto;
position:absolute;
background-color: hsl(217, 28%, 15%);
bottom: 3rem;
height: 15rem;
width: 50rem;
left: 20rem;
border-radius: 0.5rem;
z-index: 1;
}

.getStartedAccess{
margin: auto;
position:absolute;
top: 9.5rem;
right: 5rem;
font-family: 'Raleway';
font-weight: 700;
font-size: 0.9rem;
border: none;
border-radius: 10rem;
padding: 1rem;
width: 13rem;
background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
color: hsl(0, 0%, 100%);
}

.earlyHeader{
margin: auto;
position:absolute;
font-family: 'Raleway';
color: hsl(0, 0%, 100%);
font-weight: 700;
font-size: 2rem;
top: 2rem;
right: 14rem;
}

.earlyDesc{
margin: auto;
position:absolute;
font-family: 'Open Sans';
color: hsl(0, 0%, 100%);
font-weight: 400;
font-size: 0.85rem;
text-align: center;
top: 5rem;
right: 7rem;
}

#email{
margin: auto;
position:absolute;
font-family: 'Open Sans';
top: 10rem;
border-style: none;
border-radius: 4rem;
padding: 1rem;
width: 23.5rem;
top: 9.5rem;
left: 4.5rem;
}

.footerLogo{
margin: auto;
position:absolute;
top: 10.5rem;
left: 9.5rem;
}

.loremIpsum{
margin: auto;
position:absolute;
top: 16rem;
left: 12rem;
}

.footMenus{
margin: auto;
position:absolute;
top: 16rem;
right: 20rem;
}

.footMenusTwo{
margin: auto;
position:absolute;
top: 16rem;
right: 12rem;
}
.footMenu{
list-style-type: none;
margin: 1rem;
}

.location{
margin: auto;
position:absolute;
}

.phone{
margin: auto;
position:absolute;
}

.phoneNum{
margin: auto;
position:absolute;
}

.email{
margin: auto;
position:absolute;
}

.emailAdd{
margin: auto;
position:absolute;
}

a {
text-decoration: none;
color: inherit; 
}

.introPage{
margin: auto;
position:relative;
background-color: hsl(217, 28%, 15%);
height: 85rem;
}

.mainPage{
margin: auto;
position:relative;
background-color: hsl(218, 28%, 13%);
height: 120rem;
bottom: 0.5rem;
}

.footerPage{
margin: auto;
position:relative;
background-color: hsl(216, 53%, 9%);
bottom: 9rem;
height: 30rem;
font-family: 'Open Sans';
color: hsl(0, 0%, 100%);
font-weight: 400;
font-size: 1.1rem;
}

@media only screen and (min-width: 375px){
 .pagewrap{
  margin: auto;
  position:relative;
  top: 50px;
  width: 375px;
  height: 650px;
  overflow: hidden;
 }
}

@media only screen and (min-width: 1440px){
 .page{
  margin: auto;
  position:relative;
  height: 50rem;
  width: 90rem;
 }
}