body{
background-color: hsl(218, 28%, 30%);
}

.menu{
list-style-type: none;
display: inline;
margin: 1.7rem;;
padding: 0;
color: hsl(0, 0%, 100%);
font-family: 'Raleway';
font-weight: 400;
font-size: 1rem;
}

a {
text-decoration: none;
color: inherit; 
}

.introPage{
background-color: hsl(217, 28%, 15%);
}

.mainPage{
background-color: hsl(218, 28%, 13%);
}

.footerPage{
background-color: hsl(216, 53%, 9%);
}

@media only screen and (min-width: 375px){
 .pagewrap{
  margin: auto;
  position:relative;
  top: 50px;
  width: 375px;
  height: 650px;
  overflow: hidden;
 }
}

@media only screen and (min-width: 1440px){
 .page{
  margin: auto;
  position:relative;
  height: 50rem;
  width: 90rem;
 }
}