body{
background-color: hsl(218, 28%, 30%);
}

.menu{
list-style-type: none;
display: inline;
margin: 1.7rem;;
padding: 0;
color: hsl(0, 0%, 100%);
font-family: 'Raleway';
font-weight: 400;
font-size: 1rem;
}

.menus{
margin: auto;
position:absolute;
top: 4rem;
right: 4rem;
}

.headerLogo{
margin: auto;
position:absolute;
top: 3.5rem;
left: 5rem;
}


.decstyle::after{
	content: "\a";
	white-space: pre;
}

.introLogo{
margin: auto;
position:absolute;
left: 22rem;
top: 15rem;
}

.introHeader{
margin: auto;
position:absolute;
text-align: center;
font-family: 'Raleway';
color: hsl(0, 0%, 100%);
font-weight: 700;
font-size: 3rem;
left: 22rem;
top: 52rem;
}

.introDesc{
margin: auto;
position:absolute;
text-align: center;
font-family: 'Open Sans';
color: hsl(0, 0%, 100%);
font-weight: 400;
font-size: 1.5rem;
left: 26rem;
top: 62rem;
}

.getStarted{
margin: auto;
position:absolute;
top: 72rem;
left: 38rem;
font-family: 'Raleway';
font-weight: 700;
font-size: 1.3rem;
border: none;
border-radius: 10rem;
padding: 1.5rem;
width: 20rem;
background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
color: hsl(0, 0%, 100%);
}

.curve{
margin: auto;
position:relative;
top: 57.9rem;
}

.access{
margin: auto;
position:absolute;
top: 5rem;
left: 25rem;
}

.security{
margin: auto;
position:absolute;
top: 5rem;
left: 63rem;
}

.collab{
margin: auto;
position:absolute;
left: 25rem;
top: 20rem;
}

.file{
margin: auto;
position:absolute;
left: 62rem;
top: 20rem;
}

.accessHeader{
margin: auto;
position:absolute;
color: hsl(0, 0%, 100%);
font-family: 'Raleway';
font-weight: 700;
font-size: 1.2rem;
left: 19rem;
top: 11.5rem;
}

.accessDesc{
margin: auto;
position:absolute;
color: hsl(0, 0%, 100%);
text-align: center;
font-family: 'Open Sans';
font-weight: 400;
font-size: 0.8rem;
left: 17rem;
top: 13.5rem;
}

.secureHeader{
margin: auto;
position:absolute;
color: hsl(0, 0%, 100%);
font-family: 'Raleway';
font-weight: 700;
font-size: 1.2rem;
top: 11.5rem;
right: 18.5rem;
}

.secureDesc{
margin: auto;
position:absolute;
color: hsl(0, 0%, 100%);
text-align: center;
font-family: 'Open Sans';
font-weight: 400;
font-size: 0.8rem;
top: 13.5rem;
right: 14rem;
}

.realHeader{
margin: auto;
position:absolute;
color: hsl(0, 0%, 100%);
font-family: 'Raleway';
font-weight: 700;
font-size: 1.2rem;
left: 20rem;
top: 26.5rem;
}

.realDesc{
margin: auto;
position:absolute;
color: hsl(0, 0%, 100%);
text-align: center;
font-family: 'Open Sans';
font-weight: 400;
font-size: 0.8rem;
left: 17rem;
top: 28.5rem;
}

.fileHeader{
margin: auto;
position:absolute;
color: hsl(0, 0%, 100%);
font-family: 'Raleway';
font-weight: 700;
font-size: 1.2rem;
right: 19rem;
top: 26.5rem;
}

.fileDesc{
margin: auto;
position:absolute;
color: hsl(0, 0%, 100%);
text-align: center;
font-family: 'Open Sans';
font-weight: 400;
font-size: 0.8rem;
right: 15.5rem;
top: 28.5rem;
}

.productive{
margin: auto;
position:absolute;
top: 40rem;
left: 6rem;
}

.stayHeader{
margin: auto;
position:absolute;
font-family: 'Raleway';
color: hsl(0, 0%, 100%);
font-weight: 700;
font-size: 3rem;
top: 45rem;
right: 17rem;
}

.stayDesc{
margin: auto;
position:absolute;
font-family: 'Open Sans';
color: hsl(0, 0%, 100%);
font-weight: 400;
font-size: 1.1rem;
top: 55rem;
right: 5rem;
}

.fyloWorks{
margin: auto;
position:absolute;
font-family: 'Open Sans';
color: hsl(176, 68%, 64%);
font-weight: 400;
font-size: 1.1rem;
top: 64rem;
left: 47rem;

}

.arrow{
margin: auto;
position:absolute;
top: 64.3rem;
left: 57.5rem;
}

.fyloBorder{
margin: auto;
position:absolute;
top: 65.8rem;
left: 47rem;
background-color: hsl(176, 68%, 64%);
width: 11.4rem;
height: 0.1rem;
}

a {
text-decoration: none;
color: inherit; 
}

.introPage{
margin: auto;
position:relative;
background-color: hsl(217, 28%, 15%);
height: 85rem;
}

.mainPage{
margin: auto;
position:relative;
background-color: hsl(218, 28%, 13%);
height: 80rem;
bottom: 0.5rem;
}

.footerPage{
margin: auto;
position:relative;
background-color: hsl(216, 53%, 9%);
}

@media only screen and (min-width: 375px){
 .pagewrap{
  margin: auto;
  position:relative;
  top: 50px;
  width: 375px;
  height: 650px;
  overflow: hidden;
 }
}

@media only screen and (min-width: 1440px){
 .page{
  margin: auto;
  position:relative;
  height: 50rem;
  width: 90rem;
 }
}