.leftBox{
margin: auto;
position:relative;
height: 30rem;
right: 2rem;
bottom: 11rem;
}

.logo{
margin: auto;
position:relative;
top: 15rem;
left: 2rem;
}

.leftBgDesk{
width: 75rem;
right: 10rem;
}

.image{
marin: auto;
position: relative;
left: 74rem;
bottom: 30rem;
}

.hero{
width: 701px;
}

.page {
background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%);
}

@media only screen and (min-width: 375px){
 .pagewrap{
  margin: auto;
  position:relative;
  top: 50px;
  width: 375px;
  height: 650px;
  overflow: hidden;
 }
}

@media only screen and (min-width: 1440px){
 .page{
  margin: auto;
  position:relative;
  height: 100%;
  overflow: hidden;
 }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.attribution{
marin: auto;
position: absolute;
bottom: 35rem;
}