body {
background-color: hsl(185, 41%, 84%);
}

.logo{
margin: auto;
position:absolute;
left: 430px;
bottom: 550px;
}

.dollar{
margin: auto;
position:absolute;
bottom: 379px;
left: 60px;
}
.person{
margin: auto;
position:absolute;
bottom: 50px;
left: 55px;
}

.box{
margin: auto;
position:relative;
height: 335px;
width: 850px;
top: 250px;
border-radius: 20px;
padding: 70px;
background-color: hsl(0, 0%, 100%);
}

.resultbox{
margin: auto;
position: absolute;
right: 25px;
width: 180px;
height: 175px;
top: 25px;
border-radius: 15px;
padding: 125px;
background-color: hsl(183, 100%, 15%);
}

.labels{
margin: auto;
position:relative;
bottom: 50px;
right: 30px;
font-family: 'Space Mono';
font-weight: 700;
color: hsl(186, 14%, 43%);
}

.tip{
margin: auto;
position:relative;
top: 25px;
}
.people{
margin: auto;
position:relative;
top: 230px;
}

.amount{
margin: auto;
position:relative;
bottom: 145px;
right: 30px;
background-color: hsl(189, 41%, 97%);
border: none;
border-radius: 3px;
padding: 10px;
width: 400px;
}
.number{
margin: auto;
position:relative;
top: 185px;
right: 455px;
background-color: hsl(189, 41%, 97%);
border: none;
border-radius: 3px;
padding: 10px;
width: 400px;
}

.five{
margin: auto;
position:relative;
color: hsl(0, 0%, 100%);
padding: 5px;
width: 120px;
bottom: 80px;
right: 30px;
background-color: hsl(183, 100%, 15%);
text-align: center;
font-family: 'Space Mono';
font-weight: 700;
font-size: 25px;
border: none;
border-radius: 5px;
cursor:pointer;
transition: .1s background ease;
}

.five:hover{
color: hsl(183, 100%, 15%);
background-color: hsl(185, 41%, 84%);
}
.five:active{
background-color: hsl(172, 67%, 45%);
}
.ten{
margin: auto;
position:relative;
color: hsl(0, 0%, 100%);
padding: 5px;
width: 120px;
bottom: 80px;
right: 20px;
background-color: hsl(183, 100%, 15%);
text-align: center;
font-family: 'Space Mono';
font-weight: 700;
font-size: 25px;
border: none;
border-radius: 5px;
cursor:pointer;
transition: .1s background ease;
}
.ten:hover{
color: hsl(183, 100%, 15%);
background-color: hsl(185, 41%, 84%);
}
.fifthteen{
margin: auto;
position:relative;
color: hsl(0, 0%, 100%);
padding: 5px;
width: 120px;
bottom: 80px;
right: 10px;
background-color: hsl(183, 100%, 15%);
text-align: center;
font-family: 'Space Mono';
font-weight: 700;
font-size: 25px;
border: none;
border-radius: 5px;
cursor:pointer;
transition: .1s background ease;
}
.fifthteen:hover{
color: hsl(183, 100%, 15%);
background-color: hsl(185, 41%, 84%);
}

.twentyfive{
margin: auto;
position:relative;
color: hsl(0, 0%, 100%);
padding: 5px;
width: 120px;
right: 402px;
background-color: hsl(183, 100%, 15%);
text-align: center;
font-family: 'Space Mono';
font-weight: 700;
font-size: 25px;
border: none;
border-radius: 5px;
cursor:pointer;
transition: .1s background ease;
}
.twentyfive:hover{
color: hsl(183, 100%, 15%);
background-color: hsl(185, 41%, 84%);
}

.fifty{
margin: auto;
position:relative;
color: hsl(0, 0%, 100%);
padding: 5px;
width: 120px;
right: 392px;
background-color: hsl(183, 100%, 15%);
text-align: center;
font-family: 'Space Mono';
font-weight: 700;
font-size: 25px;
border: none;
border-radius: 5px;
cursor:pointer;
transition: .1s background ease;
}
.fifty:hover{
color: hsl(183, 100%, 15%);
background-color: hsl(185, 41%, 84%);
}

.Custom{
margin: auto;
position:relative;
color: hsl(186, 14%, 43%);
padding: 5px;
width: 120px;
right: 382px;
background-color: hsl(189, 41%, 97%);
text-align: center;
font-family: 'Space Mono';
font-weight: 700;
font-size: 25px;
border: none;
border-radius: 5px;
}

.active{
color: hsl(183, 100%, 15%);
background-color: hsl(172, 67%, 45%)
}
.reset{
margin: auto;
position:relative;
Color: hsl(183, 100%, 15%);
padding: 12px;
width: 350px;
bottom: 30px;
background-color: hsl(172, 67%, 45%);
text-align: center;
font-family: 'Space Mono';
font-weight: 700;
font-size: 18px;
letter-spacing: 0.5px;
border: none;
border-radius: 5px;
right: 85px;
opacity: 0.2;
cursor:pointer;
transition: .1s background ease;
}

.tipcalc{
margin: auto;
position:relative;
font-family: 'Space Mono';
font-weight: 700;
color: hsl(189, 41%, 97%);
bottom: 80px;
right: 90px;
}

.total{
margin: auto;
position:relative;
font-family: 'Space Mono';
font-weight: 700;
color: hsl(189, 41%, 97%);
bottom: 20px;
right: 90px;
}

.perperson{
margin: auto;
position:relative;
font-family: 'Space Mono';
font-weight: 700;
color: hsl(184, 14%, 56%);
bottom: 80px;
right: 90px;
}
.perperson2{
margin: auto;
position:relative;
font-family: 'Space Mono';
font-weight: 700;
color: hsl(184, 14%, 56%);
bottom: 20px;
right: 90px;
}

.tipCount{
margin: auto;
position:relative;
font-family: 'Space Mono';
font-weight: 700;
font-size: 50px;
color: hsl(172, 67%, 45%);
bottom: 190px;
left: 110px;
}

.totalCount{
margin: auto;
position:relative;
font-family: 'Space Mono';
font-weight: 700;
font-size: 50px;
color: hsl(172, 67%, 45%);
bottom: 155px;
left: 110px;
}

.tip{
margin-top: 50px;
}

input{
text-align: right;
font-family: 'Space Mono';
font-weight: 700;
font-size: 20px;
opacity: 60%;
}

@media only screen and (min-width: 375px){
 .pagewrap{
  margin: auto;
  position:relative;
  top: 50px;
  width: 375px;
  height: 650px;
  overflow-x: hidden;
 }
}

@media only screen and (min-width: 1440px){
 .pagewrap{
  margin: auto;
  position:relative;
  top: 150px;
  width: 1440px;
 }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }