*{
	margin: 0;
  	padding: 0;
  	font-family: 'Poppins', sans-serif;
  	box-sizing: border-box; 	
}

.container{
	width: 100%;
  	height: 100vh;
  	background: #333;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-wrap: wrap;
  	overflow: hidden;
}

.music-player{
	position: relative;
	background: #ffe0e5;
  	width: 400px;
  	padding: 25px 35px;
  	height: 700px;
  	text-align: center;
  	overflow: hidden;
}

.header{
	display: flex;
	justify-content: space-between;
	margin-botton: 30px;
}

.header .circle1{
	border-radius: 50%;
	width: 40px;
	height: 40px;
	line-height: 40px;
	background: #fff;
	color: #f53192;
	box-shadow: 0 5px 10px rgba(255, 26, 26, 0.22);
}

.header .circle2{
	border-radius: 50%;
	width: 40px;
	height: 40px;
	line-height: 40px;
	background: #fff;
	color: #f53192;
	box-shadow: 0 5px 10px rgba(255, 26, 26, 0.22);
}

.song-img{
	width: 220px;
	border-radius: 50%;
	border: 8px solid #fff;
	box-shadow: 0 10px 60px rgba(255, 26, 26, 0.22);
}

.music-player .title{
	font-size: 20px;
  	font-weight: 400;
  	color: #333;
  	margin-top: 20px;
}

.music-player .artist{
	font-size: 14px;
  	color: #333;
}

#progress{
	-webkit-appearance: none;
	width: 100%;
	height: 6px;
	background: #f53192;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 20px;
}
#progress::-webkit-slider-thumb{
	-webkit-appearance: none;
	background: #f53192;
	width: 5px;
	height: 20px;
	border-radius: 50%;
	border: 8px solid #fff;
	box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
}

.buttons{
	display: flex;
  	justify-content: center;
  	align-items: center;
  }

  .buttons div{
  	width: 60px;
	height: 60px;
	margin: 20px;

	background: #fff;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 30%;
	color: #f53192;
	box-shadow: 0 10px 20px rgba(255, 26, 26, 0.22);
	cursor: pointer;
  }

  .buttons div:nth-child(2){
  	transform: scale(1.5);
  	background: #f53192;
  	color: #fff;
  }

  .play-all{
  	margin: 10px;
  	width: 50px;
	height: 40px;
  	display: inline-flex;
	align-items: center;
  	background: #fff;
  	justify-content: center;
  	border-radius: 40%;
  	border-width: 0;
	color: #f53192;
	box-shadow: 0 10px 20px rgba(255, 26, 26, 0.22);
	cursor: pointer;
  }

  .play-all i{
  	margin: 2px;
  }

.volume{
	margin: 20px;
}
#volume{
	-webkit-appearance: none;
	position: relative;
	top:-2.5px;
	width: 70%;
	height: 6px;
	background: #f53192;
	border-radius: 4px;
	cursor: pointer;
}

.volume i{
	color: #f53192;
	
}

#volume::-webkit-slider-thumb{
	-webkit-appearance: none;
	background: #f53192;
	width: 1px;
	height: 10px;
	border-radius: 50%;
	border: 8px solid #fff;
	box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
}

.song-timer{
	color: #f53192;
	display: flex;
	justify-content: space-between;
	font-weight: 600;
	margin: 1rem 0;
}
#show-volume{
	color: #f53192;
}

.music-playlist{
	position: absolute;
	bottom: 0.001rem;
	left: 0.001rem;	
	padding: 25px 35px;
	text-align: center;
	background: rgba(0,0,0,0.9);
	width: 400px;
	height: 700px;
	transform: translateX(-100%);
	transition: all 0.5s;
}

.playlist-header{
	color: #f53192;
	padding: 5px 0;
	border-bottom: 1px solid grey;
}

.playlist-header .circlePlay1{
	border-radius: 50%;
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: #f53192;

}

.playlist-header .circlePlay2{
	border-radius: 50%;
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: #f53192;
	cursor: pointer;
}

.playlist-div{
	width: 100%;
	height: 80vh;
	overflow-y: auto;
	padding: 15px;
}

/* Playlist Scroll Bar */
.playlist-div::-webkit-scrollbar{
	height: 5px;
	width: 4px;
	border: 1px solid #d5d5d5;
}

.playlist-div::-webkit-scrollbar-track{
	--webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.playlist-div::-webkit-scrollbar-thumb{
	background-color: var(--color primary);
	outline: 1px solid #eee;
}

.playlist{
	display: flex;
	align-items: center;
	color: white;
}

.song-index{
	font-size: 1.4rem;
	margin-right: 5px;
}

.playlist p{
	width: 90%;
	font-size: 1.4rem;
	border-bottom: 1px solid grey;
	padding: 5px 0;
	cursor: pointer;
}